### Read CSV file

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

amazon_data_set = pd.read_csv("C:\\Users\\jyost\\OneDrive\\Desktop\\Overall Info\\Imp\\Fall 2019\\Project\\Amazon Fine Food\\Data set\\Reviews.csv")
amazon_data_set.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [2]:
# shape gives (# of rows, # of columns)
amazon_data_set.shape

(568454, 10)

In [3]:
# To identify the number of duplicate rows in the data set 
#amazon_data_set.duplicated(subset = ['ProductId','UserId','Score','Time']).sum()

# To delete the duplicate rows in the data set 
amazon_data_set.drop_duplicates(subset = ['ProductId','UserId','Score','Time']).shape

(565125, 10)

### Converting the data type of Time from int to datetime

In [4]:
amazon_data_set['Time'] = pd.to_datetime(amazon_data_set['Time'],unit='s')
amazon_data_set.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,2011-04-27,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,2012-09-07,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,2008-08-18,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,2011-06-13,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,2012-10-21,Great taffy,Great taffy at a great price. There was a wid...

In [5]:
# Data type of Time changes from int64 --> datetime64
amazon_data_set.dtypes

Id                                 int64
ProductId                         object
UserId                            object
ProfileName                       object
HelpfulnessNumerator               int64
HelpfulnessDenominator             int64
Score                              int64
Time                      datetime64[ns]
Summary                           object
Text                              object
dtype: object

### Calc the mean score for every product

In [6]:

amazon_data_set.groupby('ProductId')['Score'].mean().head()

ProductId
141278509X    5.000000
2734888454    3.500000
2841233731    5.000000
6641040       4.351351
7310172001    4.751445
Name: Score, dtype: float64

### Calc the mean score for every product and sorted the scores in desc order

In [7]:
amazon_data_set.groupby('ProductId')['Score'].mean().sort_values(ascending=False)

ProductId
B009WVB40S    5.0
B0022N49M8    5.0
B0022N89QK    5.0
B0022N6OBM    5.0
B0022N6CH8    5.0
             ...
B001FPZ324    1.0
B002U5A7QA    1.0
B0017HFTRO    1.0
B0017HX4B2    1.0
B002OL8F4G    1.0
Name: Score, Length: 74258, dtype: float64

### Calc the number of reviews for every product and sorted the scores in desc order

In [8]:
amazon_data_set.groupby('ProductId')['Score'].count().sort_values(ascending=False)

ProductId
B007JFMH8M    913
B002QWP8H0    632
B002QWHJOU    632
B0026RQTGE    632
B002QWP89S    632
             ...
B0031YHA5A      1
B0031YHA3M      1
B0031TX6ZI      1
B0031TPDQS      1
141278509X      1
Name: Score, Length: 74258, dtype: int64

### Creating a data frame "product_mean_count" that has ProductId, Mean_Score and Score_counts

In [9]:
product_mean_count = pd.DataFrame(amazon_data_set.groupby('ProductId')['Score'].mean())
product_mean_count

               Score
ProductId
141278509X  5.000000
2734888454  3.500000
2841233731  5.000000
6641040     4.351351
7310172001  4.751445
...              ...
B009UOFTUI  1.000000
B009UOFU20  1.000000
B009UUS05I  5.000000
B009WSNWC4  5.000000
B009WVB40S  5.000000

[74258 rows x 1 columns]

In [10]:
product_mean_count['score_counts'] = pd.DataFrame(amazon_data_set.groupby('ProductId')['Score'].count())
product_mean_count

               Score  score_counts
ProductId
141278509X  5.000000             1
2734888454  3.500000             2
2841233731  5.000000             1
6641040     4.351351            37
7310172001  4.751445           173
...              ...           ...
B009UOFTUI  1.000000             1
B009UOFU20  1.000000             1
B009UUS05I  5.000000             1
B009WSNWC4  5.000000             1
B009WVB40S  5.000000             1

[74258 rows x 2 columns]

### Sort the product_mean_count in desc order of Score

In [11]:
sorted_data = product_mean_count.sort_values('Score',ascending=False)

sorted_data

            Score  score_counts
ProductId
141278509X    5.0             1
B002PE15WG    5.0             1
B002P9QRCO    5.0             1
B002PA1KW0    5.0             1
B002PA7466    5.0             1
...           ...           ...
B000TIKYAO    1.0             1
B006SBCWCY    1.0             1
B0008JEYR8    1.0             1
B003LEDPYK    1.0             1
B001L7XU5S    1.0             1

[74258 rows x 2 columns]

In [12]:
sorted_data.rename(columns={'Score': 'Mean_Score'}, inplace=True)
sorted_data

            Mean_Score  score_counts
ProductId
141278509X         5.0             1
B002PE15WG         5.0             1
B002P9QRCO         5.0             1
B002PA1KW0         5.0             1
B002PA7466         5.0             1
...                ...           ...
B000TIKYAO         1.0             1
B006SBCWCY         1.0             1
B0008JEYR8         1.0             1
B003LEDPYK         1.0             1
B001L7XU5S         1.0             1

[74258 rows x 2 columns]

### Calc the percentage_score 
##### percentage_score =  num of reviews per prod/ Total # of reviews for all products

In [13]:
grouped_sum = sorted_data['score_counts'].sum()
print (grouped_sum)

sorted_data['percentage']  = sorted_data['score_counts'].div(grouped_sum)*100

568454

### Fetching the Top 5 Products
##### - Reducing the noise (where score_counts > = 100)
##### - Sort the values in the decreasing order of Mean_Score

In [22]:
product_mean_count_percent = sorted_data[sorted_data['score_counts'] >= 100].sort_values(['Mean_Score', 'ProductId'], ascending = [0,1])

In [24]:
product_mean_count_percent.loc[:, ['Mean_Score','score_counts']].head(5)

            Mean_Score  score_counts
ProductId
B000ED9L9E    4.973451           113
B000O5DI1E    4.906542           107
B000NMJWZO    4.881919           542
B003QDRJXY    4.837121           264
B003KRHDMI    4.833333           132

##### 1. B000ED9L9E - Bob's Red Mill Organic Oat Bran
##### 2. B000O5DI1E - 6-PACK Beef Pill Pockets LARGE
##### 3. B000NMJWZO -Pamela's Ultimate Baking and Pancake Mix
##### 4. B003QDRJXY - Nutiva Organic Extra Virgin Coconut Oil
##### 5. B003KRHDMI - K-Cup Carousel