### Read CSV file

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

amazon_data_set = pd.read_csv("C:\\Users\\jyost\\OneDrive\\Desktop\\Overall Info\\Imp\\Fall 2019\\Project\\Amazon Fine Food\\Data set\\Reviews.csv")
amazon_data_set.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [2]:
# shape gives (# of rows, # of columns)
amazon_data_set.shape

(568454, 10)

In [3]:
# To identify the number of duplicate rows in the data set 
# amazon_data_set.duplicated(subset = ['ProductId','UserId','Score','Time']).sum()

# To delete the duplicate rows in the data set 
amazon_data_set.drop_duplicates(subset = ['ProductId','UserId','Score','Time']).shape

(565125, 10)

### Converting the data type of Time from int to datetime

In [4]:
amazon_data_set['Time'] = pd.to_datetime(amazon_data_set['Time'],unit='s')
amazon_data_set.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,2011-04-27,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,2012-09-07,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,2008-08-18,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,2011-06-13,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,2012-10-21,Great taffy,Great taffy at a great price. There was a wid...

In [5]:
# Data type of Time changes from int64 --> datetime64
amazon_data_set.dtypes

Id                                 int64
ProductId                         object
UserId                            object
ProfileName                       object
HelpfulnessNumerator               int64
HelpfulnessDenominator             int64
Score                              int64
Time                      datetime64[ns]
Summary                           object
Text                              object
dtype: object

### Identify the max year in the data set to fetch the only the data in that year --> Trending recently

In [6]:
recent_date = amazon_data_set['Time'].max()
recent_date

Timestamp('2012-10-26 00:00:00')

### Added a column Year that is fetched from the Time column

In [7]:
amazon_data_set['Year'] = pd.DatetimeIndex(amazon_data_set['Time']).year
amazon_data_set.shape
amazon_data_set.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Year
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,2011-04-27,Good Quality Dog Food,I have bought several of the Vitality canned d...,2011
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,2012-09-07,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,2012
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,2008-08-18,"""Delight"" says it all",This is a confection that has been around a fe...,2008
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,2011-06-13,Cough Medicine,If you are looking for the secret ingredient i...,2011
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,2012-10-21,Great taffy,Great taffy at a great price. There was a wid...,2012

In [8]:
dataset_2012 = amazon_data_set[amazon_data_set['Year'] == 2012]
dataset_2012.shape

(198659, 11)

### Calc the mean score for every product and sorted the scores in desc order

In [9]:
dataset_2012.groupby('ProductId')['Score'].mean().head()
dataset_2012.groupby('ProductId')['Score'].mean().sort_values(ascending=False)

ProductId
B009WVB40S    5.0
B002LYSHSK    5.0
B002LUIMUC    5.0
B002LV6LUE    5.0
B002LV6M0S    5.0
             ...
B0013GUHIK    1.0
B004RDNGSY    1.0
B00290ZPT0    1.0
B005D6E340    1.0
B005DNJKOQ    1.0
Name: Score, Length: 48381, dtype: float64

### Calc the number of reviews for every product and sorted the scores in desc order

In [10]:
dataset_2012.groupby('ProductId')['Score'].count().sort_values(ascending=False)

ProductId
B007JFMH8M    913
B006MONQMC    491
B002IEZJMA    483
B002IEVJRY    483
B007Y59HVM    480
             ...
B003WO0JOS      1
B003WO1JCE      1
B003WO1JGK      1
B003WO1KI2      1
141278509X      1
Name: Score, Length: 48381, dtype: int64

### Creating a data frame "product_mean_count_2012" that has ProductId, Mean_Score and Score_counts

In [11]:
product_mean_count_2012 = pd.DataFrame(dataset_2012.groupby('ProductId')['Score'].mean())
product_mean_count_2012

               Score
ProductId
141278509X  5.000000
2841233731  5.000000
6641040     4.000000
7310172001  4.790698
7310172101  4.790698
...              ...
B009UOFTUI  1.000000
B009UOFU20  1.000000
B009UUS05I  5.000000
B009WSNWC4  5.000000
B009WVB40S  5.000000

[48381 rows x 1 columns]

In [12]:
product_mean_count_2012['score_counts'] = pd.DataFrame(dataset_2012.groupby('ProductId')['Score'].count())
product_mean_count_2012

               Score  score_counts
ProductId
141278509X  5.000000             1
2841233731  5.000000             1
6641040     4.000000             5
7310172001  4.790698            43
7310172101  4.790698            43
...              ...           ...
B009UOFTUI  1.000000             1
B009UOFU20  1.000000             1
B009UUS05I  5.000000             1
B009WSNWC4  5.000000             1
B009WVB40S  5.000000             1

[48381 rows x 2 columns]

### Sort the product_mean_count in desc order of Score

In [13]:
sorted_data_2012 = product_mean_count_2012.sort_values('score_counts',ascending=False)
sorted_data_2012

               Score  score_counts
ProductId
B007JFMH8M  4.582694           913
B006MONQMC  3.380855           491
B002IEVJRY  3.853002           483
B002IEZJMA  3.592133           483
B007Y59HVM  4.372917           480
...              ...           ...
B002HFNEBI  4.000000             1
B002HEWA6E  5.000000             1
B002H5GSFW  5.000000             1
B002H1PS34  4.000000             1
B009WVB40S  5.000000             1

[48381 rows x 2 columns]

In [14]:
sorted_data_2012.rename(columns={'Score': 'Mean_Score'}, inplace=True)
sorted_data_2012

            Mean_Score  score_counts
ProductId
B007JFMH8M    4.582694           913
B006MONQMC    3.380855           491
B002IEVJRY    3.853002           483
B002IEZJMA    3.592133           483
B007Y59HVM    4.372917           480
...                ...           ...
B002HFNEBI    4.000000             1
B002HEWA6E    5.000000             1
B002H5GSFW    5.000000             1
B002H1PS34    4.000000             1
B009WVB40S    5.000000             1

[48381 rows x 2 columns]

### Calc the percentage_score 
##### percentage_score =  num of reviews per prod/ Total # of reviews for all products

In [15]:
grouped_sum_2012 = sorted_data_2012['score_counts'].sum()
print (grouped_sum_2012)

sorted_data_2012['percentage']  = sorted_data_2012['score_counts'].div(grouped_sum_2012)*100

198659

### Fetching the Top 5 Products
##### - Reducing the noise (where score_counts > = 100)
##### - Sort the values in the decreasing order of Mean_Score

In [16]:
product_mean_count_percent_2012 = sorted_data_2012[sorted_data_2012['score_counts'] >= 50].sort_values(['Mean_Score', 'ProductId'], ascending = [0,1])

In [17]:
product_mean_count_percent_2012.loc[:, ['Mean_Score','score_counts']].head(5)

            Mean_Score  score_counts
ProductId
B000ED9L9E    4.967742            62
B000NMJWZO    4.922078            77
B003KRHDMI    4.872093            86
B00401OZ1U    4.837838            74
B0081X097M    4.837838            74

##### 1. B000ED9L9E - Bob's Red Mill Organic Oat Bran
##### 2. B000NMJWZO -Pamela's Ultimate Baking and Pancake Mix
##### 3. B003KRHDMI - K-Cup Carousel
##### 4. B00401OZ1U - Spearmint Metromint Water
##### 5. B0081X097M - Metromint Chocolatemint water